body{
    margin: 0;
    padding: 0;
    
}
#text{
    text-align: center;
    top: 20px;
    text-transform: uppercase;
    size: 30px;
}
#container{
    display: flex;
    width: 960px;
    margin: 0 auto;
    background-color: grey;
}

#container input[type="text"]{
    flex: 1 1 auto;

}
p{
    text-align: center
}
#demo{
    text-transform: uppercase;
}